:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  text-align: center;
}

.foodbox-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.foodbox-main-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
  padding: 30px;
  width:50%;

}



/* .foodbox-main-left input{
  width: 500px;
} */


.foodbox-main-left img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.foodbox-main-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%; 
  color: #4a62cf;
  border: 2px solid white;
  padding: 30px;
}


.Add{
  width: 40px;
  height: 40px;
  font: larger;
  cursor: pointer;

}

.Reset{
  width: 90px;
  height: 40px;
  font: larger;
  cursor: pointer;
}